In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
print(List of high schools)

SyntaxError: invalid syntax (Temp/ipykernel_19620/3812156929.py, line 1)

In [3]:
for schools in high schools
print(school)

SyntaxError: invalid syntax (Temp/ipykernel_19620/4187088658.py, line 1)

In [4]:
#list of high schools
high_schools =["Hernandez High school", "figueroa High school", "Wilson High School","Wright High School"]

In [5]:
for schools in high schools
print(school)

SyntaxError: invalid syntax (Temp/ipykernel_19620/4187088658.py, line 1)

In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]

In [2]:
for schools in high_schools:
      print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
for high schools in high_school_types:
    print(high schools)

SyntaxError: invalid syntax (Temp/ipykernel_28004/3339460632.py, line 1)

In [10]:
# List of high schools 
 high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

IndentationError: unexpected indent (Temp/ipykernel_28004/2389184715.py, line 2)

In [20]:
#list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [21]:
import pandas as pd

In [17]:
school_series = pd.series(high_schools)
school_series

AttributeError: module 'pandas' has no attribute 'series'

In [14]:
school_series

NameError: name 'school_series' is not defined

In [23]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [33]:
#list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [34]:
import pandas as pd

In [35]:
school_series = pd.series(high_schools)

AttributeError: module 'pandas' has no attribute 'series'

In [32]:
pandas.Series()

NameError: name 'pandas' is not defined

In [36]:
pandas.Series()

NameError: name 'pandas' is not defined

In [37]:
#list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [38]:
pandas.Series()

NameError: name 'pandas' is not defined

In [39]:
#list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [40]:
import pandas as pd

In [42]:
school_series = pd.Series(high_schools)

In [6]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [8]:
import pandas as pd

In [9]:
school.series  = pd.series(high_schools)

AttributeError: module 'pandas' has no attribute 'series'

In [11]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
school_df = pd.DataFrame(high_school_dicts)

In [13]:
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter